<div class="tracklist-container">
<div class="loader-container" *ngIf="showLoader">
  <md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>
</div>
<div *ngIf="trackList.length == 0">
Looks like you havent uploaded any songs yet. Go to upload panel to add a new song...
</div>
<md-grid-list cols="6" >
  
	<md-grid-tile *ngFor="let track of trackList" [style.background-image]="track.thumbUrl | fullpath | safeurl" class="track-grid-tile">
		<md-card class="track-grid-card">
      <div class="trip-grid-content">
        <md-card-header class="track-grid-header">
        <md-card-title>{{track.title}}</md-card-title>
          <md-card-subtitle>{{track.artist}}</md-card-subtitle>
        </md-card-header>
        <md-card-actions class="track-grid-actions" >
          <button md-mini-fab class="btn" style="color: white;" (click)="playTrack(track)" ><md-icon>play_arrow</md-icon></button>
        </md-card-actions>
        </div>
		</md-card>
	</md-grid-tile>
</md-grid-list>
</div>