
 /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.app-container {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}
.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4em;
    margin-top: -4em;
    height: 100%;
    width: 100%;
}
.main-tabs-container {
    height: 90%;
}
.main-tabs-container md-ink-bar {
    background-color: #E84C3D !important;
}
.md-sidenav-content {
    overflow: hidden !important;
}
.fill-space {
    flex: 1 1 auto;
}
/*sidenav*/

/*Upload Component*/
.upload-card {
    max-width: 250px;
}
/*For grid tile track item*/
.tracklist-container {
    padding: 5px;
}
.track-grid-tile {
    background-size: cover;
    background-repeat: no-repeat;
}
.track-grid-card {
    height: 100%;
    width: 100%;
    background: none;
}

.track-grid-content {
    padding: 10px;
}
.track-grid-header {
    margin: 0px;
}
.track-grid-actions {
    position: absolute;
    right: 5%;
    bottom: 0%;
    margin:0px;
}
/*Player related*/
.player-container {
    position: fixed;
    bottom: 0%;
    width: 96%;
    left: 2%;
    background: #3D3D3D;
}
.fit-in {
    height: 100%;
    width: 100%;
}
.player-track-image {
   height: 100% !important ; 
   width: 40% !important; 
   left: 0px !important;
   position: absolute !important;
}
.player-track-visualiser {
    height: 100% !important; 
    width: 40% !important; 
    left: 0px !important; 
    position: absolute !important;
}
.player-container .control-button {
    background: transparent;
    border: 0px;
}
.player-container md-grid-tile figure {
    justify-content: flex-start !important;
} 
