<md-card class="upload-card" style="background: #3D3D3D; padding: 10px; color: white;">
	<div style="text-align: center;">
		<md-card-title>Upload Track</md-card-title>
	</div>
	<div [@fileSelect]="selectStatus">
		<input type="file" (change)="fileChangeHandler($event)" style="display:none" id="uploadInput">
		<label for="uploadInput"> 
                <div style="width: 100%; background: #E84C3D; text-align: center; cursor:pointer; border-radius: 3px; color: white;">
                 <div style="height: 7px"></div>
                 <span>Select Track</span>
                 <div style="height: 7px"></div>
                </div>
        </label>
	</div>

	<div *ngIf="selectedFileTags">
		<div style="padding: 10%;">
			<img src="{{selectedFileTags.picture}}" style="min-height: 100%; min-width: 100%; max-height: 100%; max-width: 100%;">
		</div>
		<md-card-subtitle *ngIf="selectedFileTags">{{selectedFileTags.title}}</md-card-subtitle>
		<input *ngIf="uploadProgress != 0" #uploadProgressRange type="range" min="0" max="100" [value]="uploadProgress"
		/>

		<md-card-actions class="track-grid-actions">
			<button md-fab style="color: white;" (click)="upload()">
                                <md-icon class="md-24">backup</md-icon>
                        </button>
		</md-card-actions>
	</div>
</md-card>