<input type="file" (change)="fileChangeHandler($event)"> Select file to upload
<md-card class="upload-card">

        <md-card-title>{{selectedFileTags.title}}</md-card-title>
        <!--<md-card-subtitle>{{selectedFileTags.artist}}</md-card-subtitle>
        <md-card-subtitle>{{selectedFileTags.album}}</md-card-subtitle>
   -->
   <img md-card-image src="{{selectedFileTags.picture}}"  height="60">
   <md-card-actions>
        <button md-button (click)="upload()">Upload</button>
   </md-card-actions>
</md-card>