<md-tab-group class="main-tabs-container" [selectedIndex]="selectedTab">
    <md-tab >
        <template md-tab-label>Tracks</template>
        <template md-tab-content >
            <tracks *ngIf="isLoggedIn"></tracks>
            <guest *ngIf="!isLoggedIn"></guest>
        </template>
    </md-tab>
    <md-tab >
        <template md-tab-label>Upload</template>
        <template md-tab-content>
            <upload *ngIf="isLoggedIn"></upload>
            <guest *ngIf="!isLoggedIn"></guest>
        </template>
    </md-tab>
    <md-tab >
        <template md-tab-label>Playlists</template>
        <template md-tab-content>
            Coming soon
            <guest *ngIf="!isLoggedIn"></guest>
        </template>
    </md-tab>
    <md-tab >
        <template md-tab-label>Artists</template>
        <template md-tab-content>
            Coming soon
            <guest *ngIf="!isLoggedIn"></guest>
        </template>
    </md-tab>
    
    <md-tab >
        <template md-tab-label>Todos</template>
        <template md-tab-content>
            <todos></todos>
        </template>
    </md-tab>
</md-tab-group>