<md-tab-group>
    <md-tab >
        <template md-tab-label>Tracks</template>
        <template md-tab-content >
            <tracks></tracks>
        </template>
    </md-tab>
    <md-tab >
        <template md-tab-label>Playlists</template>
        <template md-tab-content>
            Playlists
        </template>
    </md-tab>
    <md-tab >
        <template md-tab-label>Artists</template>
        <template md-tab-content>
            Artists
        </template>
    </md-tab>
    <md-tab >
        <template md-tab-label>Upload</template>
        <template md-tab-content>
            <upload></upload>
        </template>
    </md-tab>
</md-tab-group>