<!--use from materialize btn-->

<main style="height: 100%;">
    <md-sidenav-layout style="height: 100%">
        <md-sidenav #start #mainnav mode="side">
            <login></login>
            <md-list *ngFor="let page of pages">
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE0C9;</md-icon>
                    <p>{{page}}</p>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <!--TODO Make Side menu a separate component-->
        <md-toolbar color="primary" class="header-container">
            <button class="btn" (click)="mainnav.toggle()">
                <i class="material-icons">menu</i>
            </button>
        </md-toolbar>
        <main-tabs></main-tabs>
        <!--<upload></upload>-->
        <player></player>
    </md-sidenav-layout>
</main>