<div class="row player-row">
	<div class="col s12">
    <div class="card horizontal player-card">
      <div class="card-image">
        <img src="{{activeTrack.thumbUrl}}" height="150" width="150">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <input #seeker type="range" min="0" [max]="activeTrack.duration" [value] ="currentTrackPosition" (change)="trackPositionChanged(seeker.value)"/>
		  {{currentTrackPosition | secondsToDuration }} | {{activeTrack.durationText}}
		</div>
        <div class="card-action">
			<button class="btn" type="button" (click)="playPreviousTrack()">
    			<i class="material-icons center">skip_previous</i>
			</button>
          	<button class="btn" type="button" *ngIf="isPaused" (click)="resumeTrack()">
    			<i class="material-icons center">play_arrow</i>
			</button>
          	<button class="btn" type="button" *ngIf="!isPaused" (click)="pauseTrack()">
    			<i class="material-icons center">pause</i>
			</button>
			<button class="btn" type="button" (click)="playNextTrack()">
    			<i class="material-icons center">skip_next</i>
			</button>
		 </div>
      </div>
    </div>
</div>
</div>

